# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# =============================================================================
# Dependencies
# =============================================================================
# Lockfiles should be committed. PNPM uses a single lockfile in the root.
# yarn.lock
# package-lock.json
# pnpm-lock.yaml

# Dependencies folder
/node_modules
**/node_modules

# PNPM
.pnp
.pnp.js
.pnp.cjs

# =============================================================================
# Build & Cache Outputs
# =============================================================================
/dist
**/dist
.next/
out/
build/
.turbo/
*.tsbuildinfo
coverage/
.nyc_output/


# =============================================================================
# Logs & Temporary Files
# =============================================================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tmp
*.temp

# =_===========================================================================
# OS & Editor Specific
# =============================================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# =============================================================================
# Environment & Secrets
# =============================================================================
# Ignore all local env files, but not examples
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Secrets
*.pem

# =============================================================================
# Next.js
# =============================================================================
next-env.d.ts
.vercel

# =============================================================================
# Misc
# =============================================================================
.ipynb_checkpoints
